* {
    box-sizing: border-box;
}

body {
    background-color: #211522;
    font-family: Arial, sans-serif;
    margin: 0;

}
img {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(100px);
    -webkit-filter: blur(100px);
    rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}



#activeChatRooms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #d3b1c2;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    position: absolute;
    left: 50px;
    top: 150px;
}
.JCR{
    font-size: 32px;
    color: #C197d2;
    position: absolute;
    left: 90px;
    top: 20px;

}
.moveToRight{
    position: absolute;
    left:80px;
    top: 90px;
}
.JoinButton{
    position: absolute;
    right:45px;
    top: 90px;
}

.EnterRoom{
    position: relative;
    top: 150px;
}

#room {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 0px;
    flex-direction: column;
}

#code {
    background: #FFFFFF;
}

#room input[type="text"] {
    font-size: 16px;
    padding: 12px;
    border: none;
    margin-bottom: 20px;
    width: 300px;
    outline: none;
}



#room button {
    background-color: #C197d2;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#room button:hover {
    background-color: #C197d2;
}

#chatbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 600px;
}

#log {
    font-size: 16px;
    padding: 20px;
    border-radius: 10px;
    background-color: #d3b1c2;
    color: #333;
    width: 100%;
    height: 600px;
    overflow: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    scrollbar-width: thin;
    position : absolute;
    top : 0px;
}

#log::-webkit-scrollbar {
    width: 8px;
}

#log::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

#log::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

#input {
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 50px;
    margin-right: 70%;
    width: 100%;
    max-width: 900px;
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position:absolute;
    top : 600px;
    left: 0px;

}

#chatbox > div {
    display: flex;
    align-items: center;
}

.small-rectangular-box {
    width: 150px;
    height: 100px;
    background-color: #613659;
    color: white;
    margin-left: 10px;
    border-radius: 5px;
    position: absolute; /* Add this line */
    top: 0px;
    right : 0px;
    z-index: 1/* Adjust this value to move the box further down */
}

#input:focus {
    box-shadow: 0px 0px 10px rgba(29, 161, 242, 0.5);
}

#input::-webkit-input-placeholder {
    color: #ccc;
}

div.absolute {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 900px;
    height: 800px;
}
#input::-moz-placeholder {
    color: #ccc;
}

#input:-ms-input-placeholder {
    color: #ccc;
}

#input::placeholder {
    color: #ccc;
}

div.absolute {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 900px;
    height: 800px;
}
div.firstAbsolute {
    position: absolute;
    top: 10px;
    left: 900px;
    width: 450px;
    height: 300px;
}

