* {
    box-sizing: border-box;
}

body {
    background-color: #313132;
    font-family: Arial, sans-serif;
    margin: 0;
}

#activeChatRooms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1da1f2;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}

#room {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 0px;
    flex-direction: column;
}

#code {
    background: #C1C1C1;
}

#room input[type="text"] {
    font-size: 16px;
    padding: 12px;
    border: none;
    border-bottom: 2px solid #1da1f2;
    margin-bottom: 20px;
    width: 300px;
    outline: none;
}



#room button {
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#room button:hover {
    background-color: #0d8ecf;
}

#chatbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 600px;
}

#log {
    font-size: 16px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #C1C1C1;
    color: #333;
    width: 80%;
    height: 600px;
    overflow: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    scrollbar-width: thin;
}

#log::-webkit-scrollbar {
    width: 8px;
}

#log::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

#log::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

#input {
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 38%;
    margin-right: 70%;
    width: 100%;
    max-width: 500px;
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    align-self: center;

}

#chatbox > div {
    display: flex;
    align-items: center;
}

.small-rectangular-box {
    width: 150px;
    height: 100px;
    background-color: #1da1f2;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    position: relative; /* Add this line */
    top: 100px; /* Adjust this value to move the box further down */
}

#input:focus {
    box-shadow: 0px 0px 10px rgba(29, 161, 242, 0.5);
}

#input::-webkit-input-placeholder {
    color: #ccc;
}

#input::-moz-placeholder {
    color: #ccc;
}

#input:-ms-input-placeholder {
    color: #ccc;
}

#input::placeholder {
    color: #ccc;
}

